.pokemon-card {
  border-width: 2px;
  transition: border-color 0.3s ease;
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  cursor: pointer;
}

.pokemon-card:hover {
  border-color: black;
}

img {
  width: 100%;
  height: auto;
  display: block;
}