.map-wrapper {
  width: 100%;
  margin: 20px 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container {
  width: 100%;
  height: 500px;
  position: relative;
}

/* Rewrite Leaflet image URLs */
:host ::ng-deep .leaflet-control-layers-toggle {
  background-image: url(/assets/leaflet/layers.png);
}

:host ::ng-deep .leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/assets/leaflet/layers-2x.png);
}

:host ::ng-deep .leaflet-marker-icon {
  background-image: url(/assets/leaflet/marker-icon.png);
}

:host ::ng-deep .leaflet-retina .leaflet-marker-icon {
  background-image: url(/assets/leaflet/marker-icon-2x.png);
}

:host ::ng-deep .leaflet-marker-shadow {
  background-image: url(/assets/leaflet/marker-shadow.png);
}

:host ::ng-deep .leaflet-retina .leaflet-marker-shadow {
  background-image: url(/assets/leaflet/marker-shadow-2x.png);
}