<div class="edit-container">
  @if (pokemon(); as pokemon) {
    <mat-card>
      <div class="card-wrapper">
        <div class="pokemon-image-container">
          <img class="pokemon-image" [src]="pokemon.picture" [alt]="pokemon.name" />
        </div>
        <div class="form-container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-padding">
              <h2 class="pokemon-title">{{ pokemon.name }}</h2>
              <table>
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>
                      <mat-form-field appearance="outline" class="full-width-field">
                        <input matInput formControlName="name" placeholder="Nom du Pokémon" />
                      </mat-form-field>
                      @if (pokemonName.hasError('required')) {
                        <div class="invalid-feedback">
                            Le nom du Pokémon est requis.
                        </div>
                      }
                      @if (pokemonName.hasError('minlength')) {
                        <div class="invalid-feedback">
                            Veuillez saisir un nom plus long. (Minimum: {{ pokemonName.getError('minlength').requiredLength }})
                        </div>
                      }
                      @if (pokemonName.hasError('maxlength')) {
                        <div class="invalid-feedback">
                            Veuillez saisir un nom plus court. (Maximum: {{ pokemonName.getError('maxlength').requiredLength }})
                        </div>
                      }
                      @if (pokemonName.hasError('pattern')) {
                        <div class="invalid-feedback">
                            Veuillez n'utiliser que des lettres pour le nom du Pokémon.
                        </div>
                      }
                    </td>
                  </tr>
                  <tr>
                    <th>Points de vie</th>
                    <td>
                      <div class="number-row">
                        <button mat-raised-button color="primary" type="button" class="ctrl-btn"
                          [disabled]="pokemonLife.value <= POKEMON_RULES.MIN_LIFE" (click)="decrementLife()">-</button>
                        <mat-form-field appearance="outline" class="small-number-input">
                          <input matInput formControlName="life" type="number" class="number-input" />
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="button" class="ctrl-btn"
                          [disabled]="pokemonLife.value >= POKEMON_RULES.MAX_LIFE" (click)="incrementLife()">+</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Dégâts</th>
                    <td>
                      <div class="number-row">
                        <button mat-raised-button color="primary" type="button" class="ctrl-btn"
                          [disabled]="pokemonDamage.value <= POKEMON_RULES.MIN_DAMAGE" (click)="decrementDamage()">-</button>
                        <mat-form-field appearance="outline" class="small-number-input">
                          <input matInput formControlName="damage" type="number" class="number-input" />
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="button" class="ctrl-btn"
                          [disabled]="pokemonDamage.value >= POKEMON_RULES.MAX_DAMAGE" (click)="incrementDamage()">+</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Types</th>
                    <td>
                      <div class="types-container">
                        @for(type of pokemonTypeList.controls; track type; let index = $index) {
                          <mat-chip
                            color="primary"
                            selected
                            (removed)="pokemonTypeList.removeAt(index)"
                            removable="true"
                            class="type-chip"
                          >
                            {{ type.value }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        }
                      </div>
                      @if (pokemonTypeList.hasError('required')) {
                        <p class="types-error">Veuillez séléctionner au moins un type pour un Pokémon</p>
                      }
                      @if (pokemonTypeList.hasError('maxlength')) {
                        <p class="types-error">Veuillez séléctionner au maximum {{ pokemonTypeList.getError('maxlength').requiredLength}} types pour un Pokémon</p>
                      }
                      <div class="types-checkboxes">
                        @for(type of pokemonService.getPokemonTypeList(); track type) {
                          <mat-checkbox
                            [checked]="isPokemonTypeSelected(type)"
                            (change)="onPokemonTypeChange(type, $event.checked)"
                            color="primary"
                          >
                            {{ type }}
                          </mat-checkbox>
                        }
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="action-buttons">
                <button mat-button color="primary" [routerLink]="['/pokemons', pokemon.id]">
                  RETOUR
                </button>
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
                  SAUVEGARDER LES CHANGEMENTS
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  }
  @if(loading()) {
    <div class="loader-container">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  }
  @if(error()) {
    <div class="error-container">
      <mat-card>
        <div class="error-content">
          <img
            class="error-image"
            src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
            alt="Rondoudou"
          />
          <h2 class="error-title">Hey, cette page n'existe pas !</h2>
          <button mat-button color="primary" routerLink="/pokemons">
            RETOURNER À L'ACCUEIL
          </button>
        </div>
      </mat-card>
    </div>
  }
</div>